<!DOCTYPE html>
<html>
  <head>
    <title>Beautyshop2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="banner">
    <%= image_tag("logo.svg", size: "200x200") %>
 <span class="title"><%= @page_title %></span>
 </div>
  	<div id="columns">
 <div id="side">
 <ul>
 <li><a href="http://www....">Home</a></li>
 <li><a href="http://www..../faq">Questions</a></li>
 <li><a href="http://www..../news">News</a></li>
 <li><a href="http://www..../contact">Contact</a></li>
 </ul>
 </div id = "main">
    <%= yield %>
  </body>
</html>
